.logo {
	width: 30px;
	margin-top: -5px;
}

.navbar-custom {
	-webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.175);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.175);
}

.portfolio-item {
	margin: 10px;
}